# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# Environment variables
.env

# Built output
dist
build
out

# IDE files
.vscode
.idea

# Mac files
.DS_Store

# Windows files
Thumbs.db
